/* CarCalc style
 *
 * Include this CSS to increase legibility and
 * usability of the calculator.
 *
 */

/* Input */

#carcalc-container {
  width: 42em;
  border: 2px solid #A0D9E5;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #4a4a4a;
  }
#carcalc-input-container {
  overflow: auto;
  padding: 1em;
  background-color: #A0D9E5;
}
#carcalc-input-container label {
  display: inline;
  margin: 0;
  margin-right: 1.8em;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}
#carcalc-input-container input[type="number"] {
  height: auto;
  margin: 0;
  margin-right: 0.4em;
  width: 3.5em;
  border: 1px solid #9b9b9b;
}
#carcalc-input-distance {
  width: 4.5em;
}
#carcalc-calculate, #carcalc-input-container input[type="number"] {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 16px;
  padding: 0.4em 0.6em;
  border-radius: 3px;
}
#carcalc-calculate {
  float: right;
  color: #fff;
  font-weight: bold;
  background-color: #337380;
  border: 1px solid #21525C;
}

/* Output */

#carcalc-output-container {
  width: 40em;
  margin: 1em;
  border-collapse: collapse;
}
#carcalc-output-container thead {
  font-weight: bold;
}
#carcalc-output-container tbody tr {
  border: 0;
  border-bottom: 2px solid #A0D9E5;
}
#carcalc-output-container tbody tr:last-of-type {
  border: 0;
}
#carcalc-output-container tfoot td {
  padding-top: 1em;
}
#carcalc-output-container td {
  padding: 0.4em 0;
  width: 4em;
}
#carcalc-output-container .carcalc-table-title {
  width: 14em;
  padding-left: 0.4em;
  padding-right: 3em;
}
#carcalc-output-container .carcalc-table-total-price {
  text-align: center;
  font-weight: bold;
  width: 8em;
}
.carcalc-type-title {
  color: #337380;
}
.carcalc-type-muted {
  color: #808080;
}

/* End CarCalc style */
