<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Körningskalkylator</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="carcalc-container"></div>
    <script type="text/template" id="carcalc-input-template">
      <label for="carcalc-input-days">
        <input type="number" min="0" max="14" step="1" id="carcalc-input-days" value="<%= days %>" />
        Dagar
      </label>
      <label for="carcalc-input-hours">
        <input type="number" min="0" max="23.5" step="0.5" id="carcalc-input-hours" value="<%= hours %>"/>
        Timmar
      </label>
      <label for="carcalc-input-distance">
        <input type="number" min="0" max="10000" step="1" id="carcalc-input-distance" value="<%= distance %>" />
        Kilometer
      </label>
      <input type="submit" id="carcalc-calculate" value="Räkna ut" />
      <div class="clear pad instructions">
        Längsta bokning är 14 dagar och längsta sträcka är 10000 km. Kalkylatorn kommer minska dina värden om du matar in större än så.
      </div>
    </script>
    <script type="text/template" id="carcalc-output-rate-table-header">
      <thead>
        <tr>
          <td class="carcalc-table-title"></td>
          <td class="carcalc-type-muted">1h</td>
          <td class="carcalc-type-muted">24h</td>
          <td class="carcalc-type-muted">1km</td>
          <td class="carcalc-table-total-price">Pris för resan</td>
        </tr>
      </thead>
    </script>
    <script type="text/template" id="carcalc-output-rate-row-template">
      <tr>
        <td class="carcalc-table-title"><span class="carcalc-type-title"><%= title %></span> <br /><%= description %></td>
        <td class="carcalc-type-muted"><%= hourly %></td>
        <td class="carcalc-type-muted"><%= daily %></td>
        <td class="carcalc-type-muted"><%= kilometer %></td>
        <td class="carcalc-table-total-price"><%= cost %></td>
      </tr>
    </script>
    <script type="text/template" id="carcalc-output-rate-table-footer">
      <tfoot>
        <tr>
          <td class="carcalc-type-muted" colspan="5">
            I priset ingår bokningsavgift, drivmedel, självriskreducering, trängselskatt och moms. Inga andra avgifter tillkommer.
          </td>
        </tr>
      </tfoot>
    </script>
    <script type="text/javascript" src="vendor/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="vendor/underscore-min.js"></script>
    <script type="text/javascript" src="vendor/backbone-min.js"></script>
    <script type="text/javascript" src="src/init.js"></script>
    <script type="text/javascript" src="src/models.js"></script>
    <script type="text/javascript" src="src/collections.js"></script>
    <script type="text/javascript" src="src/views.js"></script>
    <script type="text/javascript" src="src/main.js"></script>
  </body>
</html>
